@import url("./navbar.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./predict.css");
@import url("./history.css");
@import url("./about.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    background:linear-gradient(135deg,#eef4ff,#ffffff,#f5f7ff);
    color:#1e293b;
}

a{
    text-decoration:none;
}

button{
    transition:.3s;
}


