@import url("./navbar.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./predict.css");
@import url("./history.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f4f7fb;
}