.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 8%;

    background:rgba(15,23,42,.95);

    backdrop-filter:blur(10px);

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.logo{

    color:white;

    font-size:28px;

    font-weight:bold;
}

.nav-links{

    display:flex;

    list-style:none;

    gap:35px;
}

.nav-links a{

    color:#cbd5e1;

    font-weight:500;
}

.nav-links a:hover{

    color:white;
}

.active{

    color:#38bdf8 !important;

    border-bottom:2px solid #38bdf8;
}