.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:#0f172a;
}

.logo{

    color:white;

    font-size:28px;

    font-weight:bold;
}

.nav-links{

    display:flex;

    gap:30px;
}

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;
}

.nav-links a:hover{

    color:#38bdf8;
}

.nav-links .active{

    color:#38bdf8;

    font-weight:bold;
}